p {
  text-align: left;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

nav {
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: paleturquoise;
}

.header-nav {
  display: flex;
}

p-menubar > ng-templater > i {
  height: 50px;
}



.logo {
  height: 4em;
}
